// Base Theme Colours
$theme-primary-color: #3F2A56;
$theme-primary-color2: #131E29;
$theme-secondary-color: #9063CD;
$theme-secondary-color2:#6A6DCD;
$theme-pink:#EEDAEA;
$theme-green1 : #71CC98;
$theme-green2 : #4AB590;
$theme-green3 : #419F7E;
$theme-grey: #F7F6FA;
$theme-border-color: #dadada;
$theme-background-color: #F7F6FA;
$theme-black: #313131;

$theme-header-background: #fff;

//Margins & Spacing
$theme-text-margin: 25px;
$theme-horz-spacing: 40px;

$theme-sm-margin: 15px;
$theme-md-margin: 25px;
$theme-lg-margin: 50px;
$theme-xl-margin: 50px;

$theme-xsm-padding: 5px;
$theme-sm-padding: 15px;
$theme-md-padding: 25px;
$theme-lg-padding: 35px;
$theme-xl-padding: 50px;

$theme-xsm-padding-mobile: 5px;
$theme-sm-padding-mobile: 15px;
$theme-md-padding-mobile: 35px;
$theme-lg-padding-mobile: 50px;
$theme-xl-padding-mobile: 70px;

//Navigation
$nav-height-static-desktop: 66px;
$nav-height-static-mobile: 50px;
$nav-height-fixed: 65px;

$button-padding: 15px;

$arrow-width: 20px;

