@font-face {
  font-family: 'Byrd';
  src: url('../trineo/assets/fonts/Byrd-Light.otf') format('truetype');
  font-weight: normal;

}

@font-face {
  font-family: 'Byrd';
  src: url('../trineo/assets/fonts/Byrd-Bold.otf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'Byrd-Bold';
  src: url('../trineo/assets/fonts/Byrd-Bold.otf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Byrd-Medium';
  src: url('../trineo/assets/fonts/Byrd-Medium.otf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../trineo/assets/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Poppins-Medium';
  src: url('../trineo/assets/fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Poppins-Semibold';
  src: url('../trineo/assets/fonts/Poppins-SemiBold.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Poppins-Bold';
  src: url('../trineo/assets/fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../trineo/assets/fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
}





