input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="number"], input[type="tel"], input[type="range"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="datetime"], input[type="datetime-local"], input[type="color"], textarea{
  background-image: none !important;
  width: 100%;
  background: white;
  border-radius: 40px;
  margin-bottom: 10px;
  @include font-size(16px);
  @include line-height(18px);
  padding: 10px 15px;
}

::placeholder,
.select2-container--default .select2-selection--single .select2-selection__placeholder{
  @include font-size(16px);
  @include line-height(18px);
  color: $theme-primary-color !important;
}

input.quicksearch::placeholder{
  color: grey !important;
  font-weight: normal;
  font-family: 'Poppins', sans-serif;
}

.quicksearchicon{
  i{
    position: absolute;
    padding-top: 10px;
    padding-left: 10px;
  }

  input{
    padding-left: 30px;
  }
}

select,.select2-container--default .select2-selection--single {
  word-wrap: normal;
  width: 100% !important;
  border-top: 0px solid white !important;
  border-left: 0px solid white !important;
  border-right: 0px solid white !important;
  color: $theme-primary-color !important;
  @include font-size(20px);
  @include line-height(23px);
  font-family: 'Poppins-Semibold', sans-serif;
  border-radius: 0px !important;
  border-bottom: 2px solid $theme-primary-color !important;
}
.select2-container{
  width: 100% !important;
}


input[type="search" i]::-webkit-search-cancel-button {
  background-image: url('../trineo/assets/images/close.svg') !important;
  background-size: cover;
  appearance: none !important;
  width: 20px;
  height: 20px;
}



