.grid-sizer,
.grid-item {
  width: calc(33.3% - 20px);
  padding: 20px 0px;

  @include media-breakpoint-down(md) {
    width: calc(100%);
    padding: 20px;
  }

}
.gutter-sizer { width: 0px; }

.grid-item{
  //transition-duration: 10ms !important;
}

