.section-padding {
  padding: $theme-lg-padding 0;
}

section{
  overflow: hidden;
}

.vertically-middle{
  align-items: center;
  justify-content: center;
}

.vertically-bottom{
  align-items: flex-end;
}

.vertically-top div[class^="col-"]{
  align-items: flex-start;
  margin-top:0px;
  margin-bottom: 0px;
}

.align-center{
  text-align: center;
  margin: auto;
}

.align-center-mob{
  text-align: center;
  margin: auto;

  @include media-breakpoint-up(md) {
    text-align: left;
  }
}

.equal-columns{
flex-direction: row;
  align-items: stretch;
}

.align-left{
  text-align: left;
}

.no-padding{
  padding:0px;
}

.padding-top-zero{
  padding-top: 0px !important;
}

.padding-bottom-zero{
  padding-bottom: 0px !important;
}

.padding-left-zero{
  padding-left: 0px !important;
}


.margin-top-zero{
   margin-top: 0px !important;
 }

.margin-bottom-zero{
  margin-bottom: 0px !important;
}

.margin-sm-top{
  margin-top: $theme-sm-margin;
}

.margin-sm-bottom{
  margin-bottom: $theme-sm-margin;
}

.margin-md-top{
  margin-top: $theme-md-margin;
}
.margin-md-right{
  margin-right: $theme-md-margin;
}

.margin-md-left{
  margin-left: $theme-md-margin;
}

.margin-md-bottom{
  margin-bottom: $theme-md-margin !important;
}

.margin-lg-top{
  margin-top: $theme-lg-margin;
}

.margin-lg-bottom{
  margin-bottom: $theme-lg-margin;
}

.margin-xl-top{
  margin-top: $theme-xl-margin;
}

.margin-xl-bottom{
  margin-bottom: $theme-xl-margin;
}

.margin-sm-right{
  margin-right: $theme-sm-margin;
}

.padding-md{
  padding: $theme-md-padding;
}

.padding-md-top{
  padding-top: $theme-md-padding;
}

.padding-md-bottom{
  padding-bottom: $theme-md-padding;
}

.padding-lg-top{
  padding-top: $theme-lg-padding;
}

.padding-lg-top-mob{
  padding-top: $theme-lg-padding;

  @include media-breakpoint-up(md) {
    padding-top: 0px;
  }
}

.padding-lg-bottom{
  padding-bottom: $theme-lg-padding;
}
.padding-lg-left{
  padding-left: 0px;

  @include media-breakpoint-up(md) {
    padding-left: $theme-lg-padding;
  }
}

.padding-lg-right{
  padding-right: 10px;

  @include media-breakpoint-up(md) {
    padding-right: $theme-lg-padding;
  }
}

.padding-sm-top{
  padding-top: $theme-sm-padding;
}


.padding-sm-left {
  padding-left:$theme-sm-padding;
}

.padding-sm-bottom{
  padding-bottom: $theme-sm-padding;
}

.padding-sm-right {
  padding-right:$theme-sm-padding;
}

.padding-xl-top{
  padding-top: $theme-lg-padding;

  @include media-breakpoint-up(md) {
    padding-top: $theme-xl-padding;
  }
}

.padding-xl-bottom{
  padding-bottom: $theme-lg-padding;

  @include media-breakpoint-up(md) {
    padding-bottom: $theme-xl-padding;
  }
}

.float-right{
  float:right;
}

@media (min-width: 768px){
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1  {
    width: 100%;
    *width: 100%;
  }

  .five-cols .col-md-1,
  .five-cols .col-sm-1,
  .five-cols .col-lg-1  {
    width: 100%;
    *width: 100%;
  }
}
@media (min-width: 992px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
    max-width: 14.285714285714285714285714285714% !important;
    flex:none !important;
  }

  .five-cols .col-md-1,
  .five-cols .col-sm-1,
  .five-cols .col-lg-1 {
    width: 20%;
    *width: 20%;
    max-width: 20% !important;
    flex:none !important;
  }
}

@media (min-width: 1200px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
    max-width: 14.285714285714285714285714285714% !important;
    flex:none !important;
  }

  .five-cols .col-md-1,
  .five-cols .col-sm-1,
  .five-cols .col-lg-1 {
    width: 20%;
    *width: 20%;
    max-width: 20% !important;
    flex:none !important;
  }
}

.max-width-60{
  max-width: 100%;

  @include media-breakpoint-up(md) {
    max-width: 60%;
    margin-left:auto;
    margin-right:auto;
  }

}

.min-height-40{
  min-height: 10px;

  @include media-breakpoint-up(md) {
    min-height: 40px;
  }
}

.max-width-80{
  max-width: 100%;

  @include media-breakpoint-up(md) {
    max-width: 80%;
    margin-left:auto;
    margin-right:auto;
  }

}


.heading-with-image{
  padding:0px;

   img{
    height:auto;
    width:100%;

    @include media-breakpoint-up(md) {
      height:100%;
      width:auto;
      max-height:600px;
      //min-height: 600px;
    }

  }
}


.basic-heading-container {
  display: inline-block;
  width: 100%;
  background: $theme-header-background;
  color: $theme-black;
  padding-top:$nav-height-fixed;

  @include media-breakpoint-up(md) {
    height: 600px;
    padding-top:0;
  }

  & .container{
    min-height: 100%;
  }
  & .row.vertically-middle{
    @include media-breakpoint-up(md) {
      height: 600px;
    }
  }

}

.basic-heading-container2{
  display: inline-block;
  width: 100%;
  color: $theme-black;
  padding-top:$nav-height-fixed;

  @include media-breakpoint-up(md) {
    height: auto;
    padding-top:0;
  }
}

.basic-container {
  padding: 60px 15px;
  margin: 0px auto;
  max-width: 1140px;
}

.header-icon{
  width:20%;
  @include media-breakpoint-up(md) {
    width:inherit;
  }
}

.header-icon-text{
  width:80%;
  @include media-breakpoint-up(md) {
    width:inherit;
  }
}

.two-column-text{


  @include media-breakpoint-up(md) {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;

    -webkit-column-gap: 40px;
    -moz-column-gap: 40px;
    column-gap: 40px;
  }
}

.padding-20{
  padding:20px 20px 0px 20px;
}

.has-margin-bottom-lg{
  margin-bottom: $theme-lg-margin;

  @include media-breakpoint-up(md) {
    margin-bottom: 0px;
  }
}

.padding-left-desktop{
  @include media-breakpoint-up(md) {
    padding-left: 122px;
  }
}

.padding-right-desktop{
  @include media-breakpoint-up(md) {
    padding-right: 122px;
  }
}