

div#mega-menu-wrap-main-menu {
  background: transparent;
}

#mega-menu-wrap-menu-1 {
  //float: right;
  margin: 0px 0px;
  background: transparent;

  @include media-breakpoint-up(md) {
    margin: 0px;
  }
}

#mega-menu-wrap-menu-1 #mega-menu-menu-1 > li.mega-menu-item {
  padding:0px 15px;
  height: 100%;

}

#mega-menu-wrap-menu-1 #mega-menu-menu-1 > li.mega-menu-item > a.mega-menu-link{
  color: $theme-primary-color !important;
  font-size: 15px !important;
  font-family:'Poppins-Semibold' !important;
  padding:0px;
  height: 100%;
  line-height: 61px;
  border-bottom: 5px solid white !important;

  @include media-breakpoint-down(md) {
    font-size: 20px !important;
  }

}

.main-menu-more{
  display:none !important;
}

#mega-menu-wrap-menu-1 #mega-menu-menu-1 > li.mega-menu-item > a.mega-menu-link:hover,
#mega-menu-wrap-menu-1 #mega-menu-menu-1 > li.mega-menu-item.mega-current-menu-item > a.mega-menu-link{
  background: transparent !important;
  //color: $theme-light-blue !important;
  border-bottom: 5px solid rgba(144,99,205,.3) !important;

  span:after{
    transform: rotate(90deg) !important;
  }

  @include media-breakpoint-down(md){
    border-bottom: 0px solid rgba(144,99,205,.3) !important;
  }

}

#mega-menu-wrap-menu-1 #mega-menu-menu-1 > li.mega-menu-item.mega-current-menu-item > a.mega-menu-link, #mega-menu-wrap-menu-1 #mega-menu-menu-1 > li.mega-menu-item.mega-current-menu-ancestor > a.mega-menu-link, #mega-menu-wrap-menu-1 #mega-menu-menu-1 > li.mega-menu-item.mega-current-page-ancestor > a.mega-menu-link{
  background:transparent !important;
}


#mega-menu-wrap-menu-1 #mega-menu-menu-1 > li.mega-menu-megamenu > ul.mega-sub-menu{
  width: 100vw;
  padding: 30px;
  background: $theme-background-color;
  box-shadow: 3px 3px 15px 4px rgba(0,0,0,0.1);
  -webkit-box-shadow: 3px 4px 15px 4px rgba(0,0,0,0.1);

  @include media-breakpoint-down(md) {
    background: white;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
    -webkit-box-shadow: 3px 4px 15px 4px rgba(0,0,0,0);
    padding: 0px 5px;
  }

  .col-heading{
    text-decoration: none;
    position: relative;
    font-size: 20px;

    &:hover{
      color: $theme-green2 !important;
      text-decoration: none;

      &:after {
        content: '';
        width: 30px;
        height: 16px;
        opacity: 1;
        top: 8px;
        right: -42px;
        position: absolute;
        transition: all ease-in-out 0.3s;
        background-image: url(../trineo/assets/images/right-caret-green.svg);
        background-repeat: no-repeat;
        background-position: 0px 0;
        background-size: contain;
      }
    }





  }
  .button--transparent{
    color: $theme-primary-color !important;

    &:after{
      background-image: url(../trineo/assets/images/arrow-right-purple.svg);
    }

    &:hover{
      color: $theme-primary-color !important;

      &:after{
        background-image: url(../trineo/assets/images/arrow-right-purple2.svg);
      }
    }

  }

  .col-text{
    color: $theme-black !important;
    padding-top:10px;
    font-size: 13px;
    line-height: 1.5;
  }
}

.mega-sub-menu .mega-mobile-parent-nav-menu-item{
  display:none;
}


#mega-menu-wrap-menu-1 #mega-menu-menu-1 input, #mega-menu-wrap-menu-1 #mega-menu-menu-1 img{
  height: 60px !important;
  text-align: left;
  margin-left: 0px !important;
  width: auto !important;
}

#mega-menu-wrap-menu-1 #mega-menu-menu-1 li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-row .mega-menu-column > ul.mega-sub-menu > li.mega-menu-item{
  padding-bottom: 0px !important;
  top: 10px !important;
}

.navbar-fixed-top {
  top: 66px;
  z-index: 100;
  position: fixed;
  width: 100%;
}


#mega-menu-wrap-menu-1 #mega-menu-menu-1[data-effect="fade_up"].mega-no-js li.mega-menu-item:hover > ul.mega-sub-menu, #mega-menu-wrap-menu-1 #mega-menu-menu-1[data-effect="fade_up"].mega-no-js li.mega-menu-item:focus > ul.mega-sub-menu, #mega-menu-wrap-menu-1 #mega-menu-menu-1[data-effect="fade_up"] li.mega-menu-item.mega-toggle-on > ul.mega-sub-menu, #mega-menu-wrap-menu-1 #mega-menu-menu-1[data-effect="fade_up"] li.mega-menu-item.mega-menu-megamenu.mega-toggle-on ul.mega-sub-menu{
  z-index: 999999;
}

#mega-menu-wrap-menu-1 #mega-menu-menu-1 > li.mega-menu-item.mega-toggle-on > a.mega-menu-link{
  background: white !important;
}


.mega-hide-on-desktop{

  .mega-menu-item{
    @include media-breakpoint-down(md) {
      padding: 0px !important;
      top: 0px !important;
    }
  }

  ul{
    @include media-breakpoint-down(md) {
      margin-left: 0px !important;
      padding-left: 0px !important;
      list-style-image: none !important;
      list-style: none !important;
    }

    li{
      margin-bottom: 20px;
      margin-left: 10px;

      a{
        @include media-breakpoint-down(md) {
          color: $theme-primary-color !important;
          font-size: 18px !important;
          font-family: 'Poppins-Semibold' !important;

          text-decoration: none !important;
        }
      }


    }

  }
}


.mega-toggle-on{
  a.mega-menu-link{
    @include media-breakpoint-down(md) {
      color: $theme-green2 !important;
    }
  }
}