

div#mega-menu-wrap-main-menu {
  background: transparent;
}

#mega-menu-wrap-menu-1 {
  float: right;
  margin: 0px 0px;
  background: transparent;

  @include media-breakpoint-up(md) {
    margin: 0px;
  }
}

#mega-menu-wrap-menu-1 #mega-menu-menu-1 > li.mega-menu-item {
  padding:0px 15px;
  height: 100%;

}

#mega-menu-wrap-menu-1 #mega-menu-menu-1 > li.mega-menu-item > a.mega-menu-link{
  color: $theme-primary-color !important;
  font-size: 15px !important;
  font-family:'Poppins-Semibold' !important;
  padding:0px;
  height: 100%;
  line-height: 61px;
  border-bottom: 5px solid white !important;

}

.main-menu-more{
  display:none !important;
}

#mega-menu-wrap-menu-1 #mega-menu-menu-1 > li.mega-menu-item > a.mega-menu-link:hover,
#mega-menu-wrap-menu-1 #mega-menu-menu-1 > li.mega-menu-item.mega-current-menu-item > a.mega-menu-link{
  background: transparent !important;
  //color: $theme-light-blue !important;
  border-bottom: 5px solid rgba(144,99,205,.3) !important;

}

#mega-menu-wrap-menu-1 #mega-menu-menu-1 > li.mega-menu-item.mega-current-menu-item > a.mega-menu-link, #mega-menu-wrap-menu-1 #mega-menu-menu-1 > li.mega-menu-item.mega-current-menu-ancestor > a.mega-menu-link, #mega-menu-wrap-menu-1 #mega-menu-menu-1 > li.mega-menu-item.mega-current-page-ancestor > a.mega-menu-link{
  background:transparent !important;
}


#mega-menu-wrap-menu-1 #mega-menu-menu-1 > li.mega-menu-megamenu > ul.mega-sub-menu{
  width: 100vw;
  padding: 30px;
  background: white;

  .button--transparent{
    color: $theme-primary-color !important;

    &:after{
      background-image: url(../trineo/assets/images/arrow-right-purple.svg);
    }

    &:hover{
      color: $theme-primary-color !important;

      &:after{
        background-image: url(../trineo/assets/images/arrow-right-purple.svg);
      }
    }

  }

  .col-text{
    color: $theme-black !important;
  }
}

.mega-sub-menu .mega-mobile-parent-nav-menu-item{
  display:none;
}


#mega-menu-wrap-menu-1 #mega-menu-menu-1 input, #mega-menu-wrap-menu-1 #mega-menu-menu-1 img{
  height: 65px !important;
  text-align: left;
  margin-left: 0px !important;
  width: auto !important;
}


